{% extends 'base.html.twig' %}

{% block body %}
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Add Song</h5>
	<form id="form">
	  <div class="form-group">
	    <label for="title">Title</label>
	    <input type="text" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Title">
	    <small id="titleHelp" class="form-text text-muted">Title of the song.</small>
	  </div>
	  <div class="form-group">
	    <label for="verses">Verses / Sections</label>
	    <input type="number" class="form-control" id="verses" aria-describedby="verseHelp" placeholder="Verses">
	    <small id="verseHelp" class="form-text text-muted">Total number of verses in this song.</small>
	  </div>
	  <div class="form-group">
	    <label for="chorus">Chorus</label>
	    <select class="form-control" id="chorus">
	      <option value="1">Has Chorus</option>
	      <option value="0">No Chorus</option>
	    </select>	  
	  </div>
	  <button type="button" id="save" class="btn btn-primary">Save Song</button>
	</form>
	<a href="{{ path('song_index', {'c': choir.id}) }}">Back to the list</a>
  </div>
</div>

{% endblock body %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#title").focus();
    });
  </script>
	<script>
	  $(document).on('click', '#save', function(){
			var title = $('#title').val();
			var verses = $('#verses').val();
			var chorus = $('#chorus').val();

			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
				"return": 'getTitle',
				"entity": 'Song',
				"choir": '{{choir.id}}',
				"fields": ['title', 'verses', 'chorus'],
				"values": [title, verses, chorus],
	        },
	        async: true,
	        success: function (data)
	        {
				console.log(data);
				$("#title").val('').focus();
				$("#verses").val('');
				$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		    error: function (xhr, status, error) {
				console.log('error');
		    }
	    });

	  });
	</script>
	<script>
	$(document).on('keyup', '#title',function (e){
			$('#save').html('Save Song').removeClass('btn-success').addClass('btn-primary');
	});
	</script>
	<script>
		$(document).on('keypress', '#verses', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save Song').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>
{% endblock %}
